.slick-dots {
  width: 1023.8px;
  li {
    button {
      width: 70px;
      height: 70px;
      &::before {
        color: white;
      }
    }
    &.slick-active,
    &:hover {
      button {
        &:before {
          color: white;
        }
      }
    }
  }
}
