.slick-dots {
  position: static;
  li {
    button {
      width: 70px;
      height: 70px;
      &::before {
        color: white;
      }
    }
    &.slick-active,
    &:hover {
      button {
        &:before {
          color: white;
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  padding-bottom: 60px;
}
