body {
  /* position: relative; */
  /* background-image: url("./assets/Background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

#scroll {
  margin-top: 700px;
}

.content {
  height: 3000px;
}

#carousel_container {
  height: 318px;
}
